{% extends "main.html" %}

{% block content %}
{% if page == "login" %}
<div class="">
  <form class="" action="" method="POST">
    {% csrf_token %}
    <div class="">
      <p>
        <label>Username: </label>
        <input type="text" name="username" value=""><br><br>
        <label>Password:</label>
        <input type="password" name="password" value=""><br><br>
        <input type="submit" name="submit" value="Login">
  </p>
    </div>
  </form>
</div>
<p>You don't have an account, kindly <a href="{% url 'register' %}">Register</a></p>

{% else %}

<div class="">
  <form class="" action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="submit" value="Login">
  </form>
</div>
<p>You already have an account, kindly <a href="{% url 'login' %}">Login</a></p>
{% endif %}
{% endblock content %}
