{% extends "main.html" %}

{% block content %}

<span><h1>{{room.name|title}}</h1> <p>created by {{room.host|capfirst}}</p> <small>@{{room.topic.name|title}}</small></span>
<p>{{room.description|capfirst}}</p><br>
{% if request.user == room.host %}
<a href="{% url 'edit-room' room.id %}">edit room</a>
<a href="{% url 'delete-room' room.id %}">delete room</a>
{% endif %}
<hr>
<div class="comment-wrapper">
  <h3>Conversation</h3>
  <hr>
  {% for message in messages %}
  <div class="">
    {% if request.user == message.host %}
    <a href="{% url 'delete-message' message.id %}">Delete message</a>
    <a href="{% url 'edit-message' message.id %}">Edit message</a><br>
    {% endif %}
    <small>@<a href="{% url 'profile' message.host.id %}">{{message.host.username}}</a>  {{message.created|timesince}} ago</small><br>
    {{message.body}}<hr>
  </div>
  {% endfor %}
</div>
{% if request.user.is_authenticated %}
<div class="comment-form">
  <form class="" action="" method="POST">
    {% csrf_token %}
    <input type="text" name="body" value="" placeholder="Type a message"><input type="submit" name="submit" value="Send">
  </form>
</div>
{% endif %}
{% endblock content %}
